.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: .1rem;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 100%;
    border-radius: 4rem;
}